<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="icon"  type="image/gif" href="ico/kinu.png">
  <link rel="stylesheet" href="css/css.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
  <title>きぬがさホームページ</title>
</head>
<body>
  <header>
    <div class="container">
      <p>
        武蔵新城駅　徒歩5分
      <br>
        業界最安値　1ｈ2000円～
      </P>
        <h1>武蔵新城ギター教室</h1>
        <br>
        <a class="btn" href="">無料体験申し込み <i class="fas fa-external-link-alt"></i>
        </a>
    </div>
  </header>

  <section class="teacher">
    <h2>講師</h2>
    <div class="container">
    </div>
  </section>

  <section class="voices">
  <h2>お客様の声</h2>
  <div class="container">
  </div>
  </section>

  <section class="price">
  <h2>PRICE</h2>
  <div class="container">
  </div>
  </section>

</body>
</html>
